.login {
  display: flex !important;
}
.buttons {
  justify-content: center !important;
}
.switchButton {
  font-size: 10px !important;
  color: blue !important;
  text-decoration: underline !important;
}
